<h3>Searching for '{{value}}'</h3>
<ul>
  {{#each icons}}
  <li class="icon-item" data-icon-id="{{id}}">
    <div class="holder">
      <div class="icon">
        <i class="{{id}}"></i>
      </div>
      <div class="title">
        <span>{{name}}</span>
      </div>
    </div>
  </li>
  {{/each}}
</ul>